/*
Theme Name: Gakken Theme
Theme URI: gakken-idn.id
Author: Aisyah Azalya
Author URI: syhzly.com
Description: Wordpress website for Gakken Indonesia.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: red, black, grey
Text Domain: gakkenidn
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(stylesheets/styles.css);
@import url(stylesheets/slider.css);
@import url(stylesheets/modalbox.css);


/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 17, ../sass/screen.scss */
body {
  background: #f1f1f1;
  font-family: 'Gentium Book Basic', serif;
  word-wrap: break-word;
  border-sizing: border-box;
  margin-bottom: 268px;
}

/* line 26, ../sass/screen.scss */
nav, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

/* line 30, ../sass/screen.scss */
a {
  color: #555555;
}
/* line 33, ../sass/screen.scss */
a:hover {
  color: #A41E22;
  text-decoration: none;
}

/* line 39, ../sass/screen.scss */
.fixed-nv {
  min-height: 60px;
  background: #fff;
  border: none;
  border-bottom: 3px solid #A41E22;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: -75px;
  transition: top 0.5s ease-out;
}
/* line 47, ../sass/screen.scss */
.fixed-nv .container-fluid {
  padding: 10px;
}
/* line 50, ../sass/screen.scss */
.fixed-nv .container-fluid .logo {
  overflow: hidden;
}
/* line 53, ../sass/screen.scss */
.fixed-nv .container-fluid .logo a {
  padding: 5px 15px;
}
/* line 56, ../sass/screen.scss */
.fixed-nv .container-fluid .logo a img {
  width: 150px;
  height: auto;
}

/* line 65, ../sass/screen.scss */
.nvscrolled {
  top: 0;
}

@keyframes Down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes Up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/* line 102, ../sass/screen.scss */
.dropdown-menu {
  padding-top: 0px;
  padding-botttom: 0px;
}
/* line 106, ../sass/screen.scss */
.dropdown-menu > li > a {
  padding: 5px 20px;
}

/* line 115, ../sass/screen.scss */
.user-profile-wrap .user-profile-wrap-btn {
  padding-top: 7px;
  border: none;
  background: none;
}
/* line 120, ../sass/screen.scss */
.user-profile-wrap .user-profile-wrap-btn .user-profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
/* line 128, ../sass/screen.scss */
.user-profile-wrap .user-tab {
  margin-top: 12px !important;
  margin-right: 5px;
  background: white;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
/* line 135, ../sass/screen.scss */
.user-profile-wrap .user-tab:before {
  content: "\f0d8";
  position: absolute;
  margin-top: -24px;
  right: 10px;
  color: #A41E22;
  font-size: 34px;
  background: transparent;
  font-family: 'FontAwesome';
}

/* line 150, ../sass/screen.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background: transparent;
  color: #BBBABA;
}

/* line 155, ../sass/screen.scss */
.highlight-btn,
.highlight-btn:active,
.highlight-btn:focus,
.highlight-btn:visited {
  background-color: #EC1F27;
  color: #fff !important;
  border-color: #D20811;
  padding: 5px 10px !important;
  outline: none;
}
/* line 160, ../sass/screen.scss */
.highlight-btn:hover {
  background: #ebebeb;
  border-color: #D0D0D0;
  color: #000 !important;
}

/* line 166, ../sass/screen.scss */
.full-width {
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}

/* line 172, ../sass/screen.scss */
.static-nv-container {
  background: #fff;
  border-bottom: 20px solid #A41E22;
}

/* line 177, ../sass/screen.scss */
.static-nv {
  border: none;
  background: transparent;
  margin-bottom: 0px;
}
/* line 182, ../sass/screen.scss */
.static-nv .navbar-brand {
  height: auto;
}
/* line 186, ../sass/screen.scss */
.static-nv .navbar-nav {
  padding: 20px 0px;
}
/* line 190, ../sass/screen.scss */
.static-nv .dropdown-menu {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
  border: 0px !important;
}
/* line 196, ../sass/screen.scss */
.static-nv .navbar-toggle {
  margin-top: 30px;
}
.static-nv .navbar-right>.navbar-btn {
  margin-top: 30px;
}

/* line 207, ../sass/screen.scss */
.slider-container {
  /*padding-top: 20px;*/
  overflow: hidden;
}
/* line 211, ../sass/screen.scss */
.slider-container .slider {
  height: 500px;
  background: #B3B3B3;
}

/* line 216, ../sass/screen.scss */
.slider-container .slider-sidebar {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 219, ../sass/screen.scss */
.slider-container .slider-sidebar .small-sidebar {
  height: 166.666667px;
  background: #B3B3B3;
  /*margin-bottom: 25px;*/
}

.small-sidebar{
  position: relative;
}

.small-sidebar .container{
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.small-sidebar .img{
  overflow: hidden;
  display: block;
  height: 150px;
}

.small-sidebar img{
  width: 100%;
  height: auto;
}

.small-sidebar h1 {
  line-height: 1.4em;
}
.small-sidebar h1>a,
.small-sidebar h1>a:focus,
.small-sidebar h1>a:active,
.small-sidebar h1>a:visited {
  color: #fff;
}
.small-sidebar h1>a:hover {
  color: #ccc;
}

.small-sidebar .container{
  position: absolute;
  width: 100%;
}

.slider-container .slider p {
  padding: 0px !important;
}

.slider-container .slide .slide-copy h1 a {
  font-size: 120%;
}

.slider-container .slide .slide-copy h5{
  text-align: right;
}

.slider-container .slide .slide-copy h5 a{
  font-size: 80%;
  color: red;
}

.slider-container .slider .read-more{
  padding-top: 5px;
}


/* line 229, ../sass/screen.scss */
.main-container .article-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 234, ../sass/screen.scss */
.main-container .article-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
/* line 241, ../sass/screen.scss */
.main-container .article-container h1 {
  color: #A41E22;
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
/* line 250, ../sass/screen.scss */
.main-container .article-container .row {
  padding-top: 10px;
}
/* line 255, ../sass/screen.scss */
.main-container .article-container .row .article-row h3 {
  font-weight: 600;
  font-size: 100%;
  line-height: 1.4em;
  padding: 5px 0px;
  /*text-align: justify;*/
}
/* line 263, ../sass/screen.scss */
.main-container .article-container .row .article-row .article-img {
  height: 200px;
  background: #B3B3B3;
}
/* line 273, ../sass/screen.scss */
.main-container .article-container:not(last-child) {
  border-bottom: 1px solid rgba(179, 179, 179, 0.35);
}
/* line 277, ../sass/screen.scss */
.main-container .single-article-container {
  background: #fff;
  /*margin-top: 50px;*/
  margin-bottom: 30px;
  padding: 20px;
  min-height: 1137px;
}

.single-article-container article{
    padding: 10px;
}

.single-article-container article strong{
  font-weight: 700;
}

.single-article-container article h1, .single-article-container article h2, .single-article-container article h3, .single-article-container article h4, .single-article-container article h5{
  padding: 20px 0px;
}

.single-article-container article h1{
  font-size: 125%;
}

.single-article-container article h2{
  font-size: 120%;
}

.single-article-container article h3{
  font-size: 115%;
}

.single-article-container article h4{
  font-size: 110%;
}

.single-article-container article h5{
  font-size: 105%;
}

.single-article-container h6{
	padding-bottom: 20px;
}

.single-article-container h6 em{
	color: rgba(0,0,0,0.8);
}

.single-article-container ul, .single-article-container ol {
	padding: 10px 20px;
}

.single-article-container li{
	padding: 5px 10px;
  line-height: 1.4;
  list-style: circle;
}

.single-article-container p img{
  max-width: 100%;
}

.single-article-container article blockquote{
  padding: 20px 0px;
}

/* line 284, ../sass/screen.scss */
.main-container .single-article-container section {
  overflow: hidden;
}
/* line 288, ../sass/screen.scss */
.main-container .single-article-container .page-header {
  margin: 10px 0 20px;
}
/* line 292, ../sass/screen.scss */
.main-container .single-article-container h1.title {
  font-weight: 700;
  line-height: 1.4;
  font-size: 180%;
  font-weight: 700;
  font-style: normal;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
}

.single-article-container .sub-desc{
  padding-top: 10px;
  font-family: "Open-sans", sans-serif;
  text-transform: capitalize;
}
/* line 306, ../sass/screen.scss */
.main-container .single-article-container h2.divider {
  color: #A41E22;
  font-size: 130%;
  font-weight: 700;
  padding: 20px 10px;
}
/* line 312, ../sass/screen.scss */
.main-container .single-article-container h2.divider:before {
  content: '';
  width: 20px;
  height: 30px;
  background: #A41E22;
  display: block;
  float: left;
  /* margin-left: -20px; */
  position: absolute;
  left: 0;
  margin-top: -5px;
}
/* line 326, ../sass/screen.scss */
.main-container .single-article-container .taught-by {
  background: #ebebeb;
  padding: 20px;
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
}
/* line 333, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc {
  line-height: 1.4;
  text-align: justify;
  width: 70%;
  float: left;
}
/* line 339, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc h3, .main-container .single-article-container .taught-by .taught-by-desc h4 {
  font-weight: 600;
}
/* line 343, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc h3 {
  padding-bottom: 10px;
}
/* line 348, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-pic {
  padding: 15px;
  width: 30%;
  float: left;
}
/* line 354, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-pic-container {
  margin-top: 50px;
  width: 100%;
  min-height: 200px;
  border-radius: 100px;
}
/* line 362, ../sass/screen.scss */
.main-container .single-article-container .sub-desc {
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 369, ../sass/screen.scss */
.main-container .single-article-container article img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
}
/* line 374, ../sass/screen.scss */
.main-container .single-article-container article p {
  padding: 5px 0px;
  line-height: 1.2;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.main-container .single-article-container article p a{
  color: #1488CC !important;
}

.main-container .all-article-wrapper p a{
  color: #1488CC !important;
}

/* line 389, ../sass/screen.scss */
.main-container .two-tab .readmore {
  right: 10px;
}
/* line 393, ../sass/screen.scss */
.main-container .two-tab .list-group {
  margin-top: 20px;
}
/* line 396, ../sass/screen.scss */
.main-container .two-tab .list-group a {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
}
/* line 401, ../sass/screen.scss */
.main-container .two-tab .list-group a span.description {
  font-size: 85% !important;
  margin: 5px 0px;
}
/* line 410, ../sass/screen.scss */

.modal-header{
  color: #fff;
  background: #A41E22;
}

.modal-x{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 32px;
  color: #fff;
}

.modal-x:hover{
  text-decoration: none;
  color: #ebebeb;
}

.login-wrapper {
  background: #fff;
  position: relative;
  overflow: hidden;
}
/* line 417, ../sass/screen.scss */
.login-wrapper .login-form {
  margin: 0 auto;
  float: none;
  padding: 10px;
}
/* line 422, ../sass/screen.scss */
.login-wrapper .login-form h3, .login-wrapper .login-form h4 {
  text-align: center;
  padding: 5px 0px;
}
/* line 427, ../sass/screen.scss */
.login-wrapper .login-form h4 {
  font-size: 80%;
}
/* line 431, ../sass/screen.scss */
.login-wrapper .login-form a {
  color: #A41E22;
}
/* line 435, ../sass/screen.scss */
.login-wrapper .login-form label {
  padding: 5px 0px;
}
/* line 439, ../sass/screen.scss */
.login-wrapper .login-form .login-container {
  margin: 20px 0px;
  font-family: 'Open Sans', sans-serif;
}
/* line 443, ../sass/screen.scss */
.login-wrapper .login-form .login-container button {
  text-align: center;
  color: #FFF;
  margin-top: 20px;
  background-color: #EC1F27;
  border-color: #EC1F27;
}
/* line 449, ../sass/screen.scss */
.login-wrapper .login-form .login-container button:hover {
  background: rgba(236, 31, 39, 0.54);
  border: 1px solid rgba(236, 31, 39, 0.54);
  color: #333;
}

/* line 460, ../sass/screen.scss */
.readmore {
  font-size: 12px;
  right: 0;
  padding: 5px;
  position: absolute;
  font-weight: normal;
}
/* line 467, ../sass/screen.scss */
.readmore a {
  color: #000;
}
/* line 470, ../sass/screen.scss */
.readmore a:hover {
  color: #A41E22;
}

/* line 476, ../sass/screen.scss */
.category-highlight {
  font-family: 'Open Sans', sans-serif;
  background-color: #A41E22;
  color: #fff;
  font-style: italic;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* width: 100%; */
  right: 15px;
  text-align: right;
  position: absolute;
}

/* line 490, ../sass/screen.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 268px;
}

/* line 497, ../sass/screen.scss */
section#footer {
  background: rgba(93, 93, 93, 0.23);
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 503, ../sass/screen.scss */
section#footer .container {
  font-family: 'Open-sans', sans-serif;
  color: #5A5555;
  line-height: 1.4;
}
/* line 509, ../sass/screen.scss */
section#footer .container a {
  color: #A41E22;
}
/* line 513, ../sass/screen.scss */
section#footer .container .textwidget {
  margin-top: 10px;
}

/* line 521, ../sass/screen.scss */
.topics-only {
  padding-right: 15px;
}

/* line 527, ../sass/screen.scss */
.topic-article section:not(first-child) {
  padding: 20px 0px;
}
/* line 532, ../sass/screen.scss */
.topic-article #content-summary p {
  padding: 10px 0px;
}
/* line 536, ../sass/screen.scss */
.topic-article #content-summary .list-group-item {
  padding: 15px;
}
/* line 543, ../sass/screen.scss */
.topic-article #achievements .achievements-container {
  background: #ebebeb;
  padding: 20px;
}
/* line 547, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 552, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item img {
  margin: 0 auto;
  padding: 5px;
}
/* line 557, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item p {
  text-align: center;
}
/* line 567, ../sass/screen.scss */
.topic-article #topic-faq .accordion {
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
}
/* line 578, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 583, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading {
  padding: 10px;
  font-family: 'Open-sans', sans-serif;
}
/* line 587, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading a {
  color: #837D7D;
}
/* line 591, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading .fa-caret-right {
  color: #A41E22;
}
/* line 597, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-inner {
  padding: 20px;
  color: #423B3B;
  background: #ddd;
}

/* line 606, ../sass/screen.scss */
.sidebar-container {
  /*padding-top: 50px;*/
  padding-right: 0px;
}

.home .sidebar-container div:first-child{
  margin-top: 50px;
}

/* line 610, ../sass/screen.scss */
.sidebar-container div {
  padding-bottom: 20px;
}
/* line 614, ../sass/screen.scss */
.sidebar-container .list-group {
  font-family: 'Open-sans', sans-serif;
}
/* line 617, ../sass/screen.scss */
.sidebar-container .list-group .active {
  background: #A41E22;
  border: 0px;
  font-size: 102%;
  font-weight: 600;
}
/* line 624, ../sass/screen.scss */
.sidebar-container .list-group a {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
}
/* line 629, ../sass/screen.scss */
.sidebar-container .list-group a span.description {
  font-size: 85% !important;
  margin: 5px 0px;
}

/* line 638, ../sass/screen.scss */
aside {
  position: relative;
  overflow: hidden;
}
/* line 642, ../sass/screen.scss */
aside img {
  max-width: 100%;
}
/* line 647, ../sass/screen.scss */
aside .sidebar-sub-container .list-group-item {
  border: none;
}
/* line 652, ../sass/screen.scss */
aside .topics-tab {
  width: 12%;
}
/* line 655, ../sass/screen.scss */
aside .topics-tab .list-group-item {
  background: #E4E4E4;
}
/* line 658, ../sass/screen.scss */
aside .topics-tab .list-group-item:hover {
  background: #fafafa;
  color: #333;
}
/* line 663, ../sass/screen.scss */
aside .topics-tab .list-group-item .btn {
  background: #1488CC;
  border: #0974B2;
  width: 100%;
}
/* line 670, ../sass/screen.scss */
aside .topics-tab .active {
  background: #fafafa !important;
  color: #333;
  font-weight: 500 !important;
}
/* line 676, ../sass/screen.scss */
aside .topics-tab .fa-caret-right {
  position: absolute;
  right: 10px;
  color: #A41E22;
}

/* line 685, ../sass/screen.scss */
.navdis {
  display: block;
}

.sitemap{
  font-family: 'Open-sans', sans-serif;
}

.sitemap a{
  color: #1488CC !important;
}

.sitemap a:hover{
  color: #000 !important;
}

.all-article-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
}

/* line 698, ../sass/screen.scss */
.all-article-container {
  background: #fff;
  /*margin-top: 50px;*/
  margin-bottom: 50px;
  padding: 20px;
}
/* line 704, ../sass/screen.scss */
.all-article-container .main-title {
  color: #A41E22;
  font-weight: 700;
  font-size: 125%;
  line-height: 1.4;
}
/* line 711, ../sass/screen.scss */
.all-article-container .img {
  position: relative;
  margin: 15px 0px;
}
/* line 715, ../sass/screen.scss */
.all-article-container .img img {
  width: 100% !important;
  height: auto;
}
/* line 721, ../sass/screen.scss */
.all-article-container .container {
  position: relative;
}
/* line 724, ../sass/screen.scss */
.all-article-container .container h2 {
  padding: 10px 0px;
  font-weight: 700;
  font-size: 120%;
  font-style: normal;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
}
/* line 738, ../sass/screen.scss */
.all-article-container .container p {
  line-height: 1.4;
  padding: 10px 0px;
}
/* line 743, ../sass/screen.scss */
.all-article-container .container .readmore {
  font-weight: 600;
  color: #A41E22;
  font-size: 105%;
  position: relative;
}

a.page-numbers{
    color: #A41E22;
    padding: 5px;
}

.page-numbers.current{
  padding: 5px;
}


.pagination{
  padding: 10px;
  font-family: 'Open-sans', sans-serif;
}

.comment-respond{
  padding: 10px;
  background: #fff;
  line-height: 1.4;
  position: relative;
}

.comment-respond .comment-reply-title{
  font-weight: 600;
  padding: 10px 0px;
}

.comment-respond p{
  padding: 10px 0px;
}

.comment-respond a{
  color: #1488CC;
}

.comment-respond a:hover{
  color: #000;
}

.comment-respond input, .comment-respond textarea{
  width: 100%;
}

.comment-respond .submit{
  background: #1488CC;
  padding: 5px;
  color: #fff;
  border: 1px solid #0974B2;
}

.commentary{
  padding-bottom: 20px;
}

.commentary h3#comments{
  font-weight: 600;
  padding: 5px 0px;
}

.commentary .commentlist li{
  background: #fff;
  padding: 10px;
  margin: 10px 0px;
}

.commentary .comment-body .comment-author img{
  border-radius: 25px;
}

.comment-author b{
  padding: 5px;
  font-weight: 600;
  /* vertical-align: middle; */
  text-transform: capitalize;
  color: #EC1F27;
}

.comment-metadata{
  padding: 10px 0px;
}

.comment-metadata a{
  color: rgba(0,0,0,0.3);
}

.comment-metadata span.edit-link a{
  color: #1488CC;
}

.comment-content{
  padding: 25px 10px;
  border-left: 3px solid rgba(0,0,0,0.2);
  font-size: 'Open-sans', sans-serif;
  margin: 10px 0px;
}

.commentary .reply{
  font-weight: 600;
  color: #1488CC;
}

.category-wrap ul{
  padding: 0px;
}

.category-wrap ul li{
  list-style: none;
  float: left;
  padding: 0px;
}

.category-wrap a{
  background: #A41E22;
  padding: 5px;
  color: #fafafa;
  font-family: 'Open-sans', sans-serif;
  font-size: 90%;
}

.category-wrap a{
  margin-right: 10px;
}

.post_tags a{
  background: rgba(0,0,0,.05);
  margin-right: 5px;
  padding: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 90%;
}

.post_tags a:hover{
  color: #1488CC;
}

.post_tags{
  padding: 20px 0px;
}


.super-title{
  font-weight: 600;
  font-size: 150%;
  color: #A41E22;
  padding: 10px 0px;
}


@media only screen and (min-width: 0px) and (max-width: 786px) {
  /* line 691, ../sass/screen.scss */
  .slider-sidebar {
    padding-top: 20px;
    padding-left: 0px;
  }

  /* line 696, ../sass/screen.scss */
  .nav.navbar-nav.navbar-right {
    text-align: right;
    padding-right: 20px;
  }

  /* line 701, ../sass/screen.scss */
  .affix {
    position: relative;
  }

  /* line 705, ../sass/screen.scss */
  aside {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  /* line 709, ../sass/screen.scss */
  aside .topics-tab {
    width: 100%;
  }

  .footer{
    min-height: 0px;
  }

  .modal-dialog{
    margin: 40% 10px;
  }

}

@media (min-width: 768px){
  .modal-dialog{
    margin: 200px auto;
  }
}
